{{!
This page will respond with a valid HTML document with the results returned from the API.
The title of the document should be "Movies Found". You should have the title set as the <title> element of
    the HTML document and as an h1 in your document. In an h2 element, you will print the supplied
    searchMoviesByName.

    You must also provide an a tag that links back to your / route with the text Make another search.

    Your page should reference a CSS file, /public/css/styles.css; this file should have at least 10 rulesets you must
    use at
    least 5 of them on this page.

    }}

    <head>
        <meta charset="utf-8">
        <title>Movies Found</title>
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>

    <body>
        <h1>Movies Found</h1>
        <a href="/" class="searchAnotherMovie">Search Another Movie</a>

        <main>
            <section>
                <article class="movie">
                    <h2>{{this.searchMoviesByName}}</h2>
                    <ol>
                        {{#each searchResult}}

                        {{!-- <h2><a href="/movies/{{_id}}">{{title}}</a></h2> --}}

                        <li> <a href="/movie/{{this.imdbID}}" class="movieTitle">{{this.Title}} <br>
                                <img class="searchResultImage" alt="{{this.Title}} Poster" src={{this.Poster}}>
                            </a>
                        </li>
                        {{/each}}
                    </ol>
                </article>
            </section>

        </main>



    </body>